<!-- BEGIN USER LOGIN DROPDOWN -->
<li class="dropdown user">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<img alt="" src="/assets/avatar1_small.jpg" />
		<span class="username"> André Lucas</span>
		<i class="icon-angle-down"></i>
	</a>
	<ul class="dropdown-menu">
		<li><a href="extra_profile.html"><i class="icon-user"></i> Meu Profile</a></li>
		<li><a href="calendar.html"><i class="icon-calendar"></i> Meu Calendário</a></li>
		<li><a href="#"><i class="icon-tasks"></i> Minhas Tarefas</a></li>
		<li class="divider"></li>
		<li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
	</ul>
</li>
<!-- END USER LOGIN DROPDOWN -->