<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->        	
			<ul>
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search">
						<div class="input-box">
							<a href="javascript:;" class="remove"></a>
							<input type="text" placeholder="Procura..." />				
							<input type="button" class="submit" value=" " />
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="start active ">
					<a href="index.html">
					<i class="icon-home"></i> 
					<span class="title">Painel</span>
					<span class="selected"></span>
					</a>
				</li>
				<li class="has-sub ">
					<a href="javascript:;">
					<i class="icon-bar-chart"></i> 
					<span class="title">Estatísticas</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub">
						<li ><a href="ui_general.html">Geral</a></li>
						<li ><a href="ui_buttons.html">Usuários</a></li>
						<li ><a href="ui_tabs_accordions.html">Jogos</a></li>
						<li ><a href="ui_sliders.html">Servidores</a></li>
					</ul>
				</li>
				<li class="has-sub ">
					<a href="javascript:;">
					<i class="icon-off"></i> 
					<span class="title">Jogos</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub">
						<li ><a href="ui_general.html">Todos</a></li>
						<li ><a href="ui_buttons.html">Adicionar Novo</a></li>
					</ul>
				</li>
				<li class="has-sub ">
					<a href="javascript:;">
					<i class="icon-pencil"></i> 
					<span class="title">Notícias</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub">
						<li ><a href="form_layout.html">Todas</a></li>
						<li ><a href="nova_noticia.html">Criar Nova</a></li>
					</ul>
				</li>
				<li class="has-sub ">
					<a href="javascript:;">
					<i class="icon-glass"></i> 
					<span class="title">Artigos</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub">
						<li ><a href="table_basic.html">Todos</a></li>
						<li ><a href="table_managed.html">Criar Novo</a></li>
					</ul>
				</li>
				<li class="has-sub ">
					<a href="javascript:;">
					<i class="icon-legal"></i> 
					<span class="title">Análises</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub">
						<li ><a href="portlet_general.html">Todas</a></li>
						<li ><a href="portlet_draggable.html">Criar Nova</a></li>
					</ul>
				</li>
				<li class="has-sub ">
					<a href="javascript:;">
					<i class="icon-camera"></i> 
					<span class="title">Galeria</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub">
						<li ><a href="maps_google.html">Todos</a></li>
						<li ><a href="maps_vector.html">Fotos</a></li>
						<li ><a href="maps_vector.html">Vídeos</a></li>
					</ul>
				</li>
				<li class="">
					<a href="charts.html">
					<i class="icon-lightbulb"></i> 
					<span class="title">Ideias</span>
					</a>
				</li>
				<li class="">
					<a href="calendar.html">
					<i class="icon-calendar"></i> 
					<span class="title">Calendário</span>
					</a>
				</li>
				<li class="has-sub ">
					<a href="javascript:;">
					<i class="icon-group"></i> 
					<span class="title">Social</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub">
						<li ><a href="maps_google.html">Usuários</a></li>
						<li ><a href="maps_vector.html">Comentários</a></li>
						<li ><a href="maps_vector.html">Feedback</a></li>
						<li ><a href="maps_vector.html">Conquistas</a></li>
					</ul>
				</li>
				<li class="">
					<a href="gallery.html">
					<i class="icon-tasks"></i> 
					<span class="title">Tarefas</span>
					</a>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->