<!DOCTYPE html>
<html>
<head>
  <title>Gueime</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

<%= javascript_include_tag "admin" %>
<script>
	jQuery(document).ready(function() {		
		App.setPage("index");  // set current page
		App.init(); // init the rest of plugins and elements
	});
</script>
</body>
</html>
